html, body {
  background-color: lightblue;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 300;
  overflow-x: hidden;

}
p {
  display: flex;
  justify-items: flex-end;
  font-size: 30px;
  font-weight: 500;
  color: antiquewhite;
}

img {
  display: flex;
  justify-content: left;
  width: 200px;
  height: 200px;
  margin: 0;
  padding: 0;
  border:  5px ridge silver;
}

.headers-section {
  background-image: url(file:///Users/andrewyoung/Pictures/Photos%20Library.photoslibrary/private/com.apple.Photos/ExternalEditSessions/DF556EDC-77AC-4192-8097-2983C1052775/IMG_0300.jpeg);
  background-color: #cccccc;
  justify-content: space-around;
  align-content: center;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 300px;
}

#navbar li {
  display: inline-flex;
  flex-direction: row;
}
