:root {
  --main-space:linear-gradient(silver, cornflowerblue);
}




html, body {
  background-image: var(--main-space);
  font-family: 'Times New Roman', Times, serif;
  font-size: 100%;
  font-weight: 300;
  overflow-x: hidden;

}
p {
  display: flex;
  justify-items: flex-end;
  align-items: flex-end;
  font-size: 15px;
  font-weight: 500;
  color: antiquewhite;
}

img {
  display: flex;
  justify-content: left;
  align-content:flex-end;
  width: 200px;
  height: 200px;
  margin: 0;
  padding: 0;
  border:  5px ridge silver;
}

h2 {
  border: 5px 5px 5px 5px ridge silver;
  color: black;
}

.headers-section {
  padding: 20px;
  background-color: darkblue;
  color: whitesmoke;
}


.headers-section h1 {
  display: inline-block;
  font-size: 45px;
  background-color: cornflowerblue 10px 10px;
} 

.headers-section div {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-size: 20px;
  color: antiquewhite;
}

.headers-section div ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color:antiquewhite;
}

.aboutme-container {
  background-color: whitesmoke;
  color: black;
  margin:10px;
  width:650px;
  height:250px;
  display: inline-block;
}

.work-container {
  background-color: whitesmoke;
  color: black;
  margin:10px;
  width:650px;
  height:250px;
  display: inline-block;
}

.contactme-container {
  background-color: whitesmoke;
  color: black;
  margin:10px;
  width:650px;
  height:250px;
  display: inline-block;
}

.resume-container {
  background-color: whitesmoke;
  color: black;
  margin:10px;
  width:650px;
  height:250px;
  display: inline-block;
}